# esp-idf
sdkconfig.old

# misc
.pioenvs
.clang_complete
.gcc-flags.json

# Ignore vim swaps
*.swp
*.swo

# Distribution files, used internally and build files
dist/
build/
cmake-build-*/
build/

# Xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/

# VSCode
.vscode/

# Android Studio
.gradle/
.idea/

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
*.autosave

# Object files
*.o
/*.map

# Vagrant stuff
.vagrant
/.pio/
.venv/

# Local generated vendor components (keep out of commits)
/managed_components/

#Auto flasher downloads                                                                                                                    
tools/blacklist.txt                                                                                                                         
tools/bootloader.bin                                                                                                                        
tools/firmware.bin                                                                                                                          
tools/littlefs.bin                                                                                                                          
tools/partitions.bin
